.single-post{
  background-color: #ffffff;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 4px 4px 8px #666;
}
.single-post h3{
  text-transform: uppercase;
  color: rgb(50,170,255);
  margin: 5px;
  margin-top: 10px;
}
.single-post p{
  margin: 10px 10px;
  text-align: justify;
}
